@import "tailwindcss";

@font-face {
  font-family: "Excalifont";
  src: url("editor/fonts/Excalifont/excalifont-Regular-a88b72a24fb54c9f94e3b5fdaa7481c9.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("editor/fonts/Nunito/Nunito-Regular-XRXI3I6Li01BKofiOc5wtlZ2di8HDIkhdTA3j6zbXWjgevT5.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comic Shanns";
  src: url("editor/fonts/ComicShanns/ComicShanns-Regular-279a7b317d12eb88de06167bd672b4b4.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
